---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="{{ site.baseurl }}/public/core.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/public/theme.css" />

    <link rel="stylesheet" href="{{ site.baseurl }}/public/lightgallery/css/lightgallery.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/public/lightslider/css/lightslider.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/public/videojs/video-js.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/public/lightgallery/css/lg-exif.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/public/justifiedgallery/justifiedGallery.min.css" />

    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/favicon.png" />
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
  </head>
  <body>
    <div id="container">
      {% include top.html %}
      {{ content }}
    </div>

    <script src="/public/jquery.min.js"></script>
    <!-- VideoJS -->
    <script src="/public/videojs/video.min.js"></script>
    <!-- LightGallery -->
    <script src="/public/lightgallery/js/lightgallery.js"></script>
    <script src="/public/lightslider/js/lightslider.min.js"></script>
    <script src="/public/lightgallery/js/lg-autoplay.js"></script>
    <script src="/public/lightgallery/js/lg-pager.js"></script>
    <script src="/public/lightgallery/js/lg-thumbnail.js"></script>
    <script src="/public/lightgallery/js/lg-video.js"></script>
    <script src="/public/lightgallery/js/lg-exif.min.js"></script>
    <script src="/public/justifiedgallery/jquery.justifiedGallery.min.js"></script>

    <script>
      $(document).ready(function() {
        $("#media").lightGallery({
          thumbWidth: 80,
          controls: true,
          loop : false,
          download: false,
          counter: false,
          videojs: true,
          exThumbImage: 'data-exthumbimage',
          startClass:'',
        });

        // Init justified gallery for photos
        $("#media").justifiedGallery({
          selector: '.albumList',
          waitThumbnailsLoad: false,
          margins: 10,
          rowHeight: 250,
          maxRowHeight: 275,
          captions: false,
          cssAnimation: false,
          imagesAnimationDuration: 0,
        });
      });
    </script>   
  </body>
</html>
