---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="{{ site.baseurl }}/public/core.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/public/theme.css" />
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/favicon.png" />
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
  </head>
  <body>
    <div id="container">
      {% include top.html %}
      {{ content }}
    </div>
  </body>
</html>
